
@media screen and (max-width: 390px) {
.hamburger-menu 
{
    display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1000;
        cursor: pointer;
        padding:31px;
  }
  .hamburger-icon,
  .hamburger-icon-close {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger-icon .bar,
  .hamburger-icon-close .bar {
    width: 30px;
    height: 4px;
    background-color: #DCBB75;
    border-radius: 5px;
  }
  
  .hamburger-content {
    display: none;
    background: linear-gradient(to right, #283606, #0F1500);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .hamburger-content.active {
    display: block;
  }
  
  .nav-links ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .nav-links li {
    text-align: left;
    padding: 20px;
    border-bottom: 0.5px solid yellow;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
  }
  
 
  
.social-media {
    
    justify-content: left;
    gap: 15px;
    margin-top: 189px;
    padding-left:31px;
}

.social-media a {
    font-size: 20px;
    color: #fff;
    padding-right: 15px;
}


.hamburger-content.active {
.language-switch {
    text-align: center;
    margin-top: 10px;
    display:block;
}
}

.language-switch button {
    
    padding: 8px 31px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    margin-left:31px;
}

.hamburger-logo {
    width: 150px;
    margin-left:31px;
} 


#hamburgerIconClose {
    display: flex; /* Use flex to align */
    position: absolute; /* Position it relative to its parent container */
    top: 20px;
    /* right: 20px; */
    cursor: pointer;
    color: #AD8749; /* Golden color */
    font-size: 24px; /* Adjust size if needed */
    z-index: 1000; /* Ensure it's above other elements */
  }
  .css-btn{
    margin-left:10px;
  }
  
}